<div class="file-format">
  <div class="mb2">
    <rolap-card>
      <rolap-title>
        <h2>{{ 'project.rules.general' | translate }}</h2>
      </rolap-title>
      <form class="form-container" [formGroup]="form">
        <div class="item-0">
          <div class="select-container">
            <dx-check-box
              data-cy="has-header-checkbox"
              style="width: 100%"
              id="hasHeader"
              name="hasHeader"
              text="{{ 'data_upload.has_header' | translate }}"
              formControlName="hasHeader"
              valueChangeEvent="keyup"
              stylingMode="outlined" />
          </div>
        </div>
        <div class="item-1">
          <div class="select-container">
            <p class="block label-paragraph py1">{{ 'data_upload.encoding' | translate }}</p>
            <dx-select-box
              style="width: 100%"
              [items]="encodings"
              formControlName="encoding"
              valueChangeEvent="keyup"
              stylingMode="outlined"></dx-select-box>
          </div>
        </div>
        <div class="item-2">
          <div class="select-container">
            <div class="tooltip-wrapper flex">
              <p class="py1 label-paragraph center-vertical">{{ 'data_upload.separator' | translate }}</p>
              <rolap-tooltip [tooltip]="'data_upload.tooltips.separator'" />
            </div>
            <dx-text-box
              data-cy="dataset-separator-input"
              style="width: 100%"
              id="separator"
              name="separator"
              [inputAttr]="{ 'aria-label': 'data_upload.separator' | translate }"
              formControlName="separator"
              valueChangeEvent="keyup"
              stylingMode="outlined" />
          </div>
          <div class="ml1">
            <rolap-validation-message [control]="form.controls['separator']" />
          </div>
        </div>
        <div class="item-3">
          <div class="select-container">
            <div class="tooltip-wrapper flex">
              <p class="py1 label-paragraph center-vertical">{{ 'data_upload.decimal' | translate }}</p>
              <rolap-tooltip [tooltip]="'data_upload.tooltips.decimal'" />
            </div>
            <dx-select-box
              style="width: 100%"
              [items]="decimalItems"
              id="decimal"
              formControlName="decimal"
              valueChangeEvent="keyup"
              stylingMode="outlined" />
          </div>
          <div class="ml1" *ngIf="form.errors && form.errors['seperatorEqualsDecimal']">
            <rolap-validation-message [control]="form" [customErrors]="['seperatorEqualsDecimal']" />
          </div>
        </div>
        <div class="item-4">
          <div class="select-container">
            <div class="tooltip-wrapper flex">
              <p class="py1 label-paragraph center-vertical">{{ 'data_upload.missing_values' | translate }}</p>
              <rolap-tooltip [tooltip]="'data_upload.tooltips.missing_values'" />
            </div>
            <dx-text-box
              [inputAttr]="{ 'aria-label': 'data_upload.missing_values' | translate }"
              style="width: 100%"
              id="missingValues"
              name="missingValues"
              formControlName="missingValues"
              valueChangeEvent="keyup"
              stylingMode="outlined" />
          </div>
        </div>
      </form>
    </rolap-card>
  </div>
  <rolap-card>
    <rolap-title>
      <h2>{{ 'data_upload.preview' | translate }}</h2>
    </rolap-title>
    <!-- ERRORS MESSAGES -->
    <rolap-info [mode]="'error'" *ngIf="errors.hasErrors" class="mb1">
      <ul class="errors-list">
        <li *ngIf="errors.maxLengthError">{{ 'data_upload.preview_error.maxlength' | translate }}</li>
        <li *ngIf="errors.patternError">{{ 'data_upload.preview_error.pattern' | translate }}</li>
        <li *ngIf="errors.indexColumnPresentError">
          {{ 'data_upload.preview_error.index_column_present' | translate }}
        </li>
        <li *ngIf="errors.columnNameDuplicatedError">
          {{ 'data_upload.preview_error.column_name_duplicated' | translate }}
        </li>
      </ul>
    </rolap-info>

    <div class="file-format-second-card-datagrid">
      <dx-data-grid
        *ngIf="form && form.valid"
        [dataSource]="selectedData"
        [showBorders]="true"
        [columnMinWidth]="70"
        [columnAutoWidth]="true"
        [columnMinWidth]="50"
        [customizeColumns]="customizeColumns"
        class="mb2">
        <dxo-load-panel [enabled]="true" />
        <dxo-scrolling [useNative]="true" />
        <dxo-sorting mode="none" />

        <div *dxTemplate="let info of 'headerErrorCellTemplate'" class="error-header">
          <div>{{ info.column.caption }}</div>
        </div>

        <div *dxTemplate="let d of 'headerCellTemplate'">
          <rolap-data-grid-upload-header
            [dataField]="d.column.dataField"
            [attr.data-cy]="'header-upload-' + d.columnIndex" />
        </div>
      </dx-data-grid>
    </div>
  </rolap-card>
</div>
