@import '../../../styles/shared-styles'; 

.condition-part.no-value {
    color: $color-text-medium;
    font-style: italic;
    border: none;
    align-self: center;
}

.between-part {
    min-width: 100px;
    flex-grow: 1;
}

.between-separator {
    padding: 0 5px;
    align-self: center;
    color: $color-text-medium;
}

.validation-error {
    color: $validation-color;
    font-size: 0.8em;
    margin-left: 5px;
    width: 100%;
    padding-left: 5px;
    order: 10;
}

select:disabled,
input:disabled {
    background-color: $disabled-color;
    cursor: not-allowed;
}