.status-box {
  border-radius: 4px;
  text-align: center;
  padding: 2px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-link {
  background-color: transparent;
  text-decoration: underline;
  color: #0000ee;
}

.process-description {
  display: grid;
  grid-template-columns: max-content auto;

  dt {
    grid-column-start: 1;
    margin-right: 1rem;
  }

  dd {
    grid-column-start: 2;
    white-space: normal;
  }

  dt,
  dd {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
  }
}
