@import 'variables';
@import 'styles/mixins/card';

.custom-card {
  @include card;
  padding: 1rem;
  min-height: auto;
}

.text-left {
  text-align: left;
}

.align-center {
  align-self: center;
}

.align-content-right {
  align-items: self-end;
}