<div *ngIf="show" class="mr1" #tooltipElement [attr.id]="tooltipElementId" [class]="customWrapperClasses">
  <dx-button stylingMode="text" [class]="customClasses">
    <fa-icon [icon]="faQuestionCircle" class="icon-color" />
  </dx-button>
  <dx-tooltip
    [target]="'#' + tooltipElementId"
    showEvent="mouseenter"
    hideEvent="mouseleave"
    [hideOnOutsideClick]="true">
    <div *dxTemplate="let _ = data; of: 'content'" class="tooltip">
      <span *ngIf="description && !tooltip">{{ description | translate }}</span>
      <span *ngIf="!description && tooltip">{{ tooltip | translate }}</span>
    </div>
  </dx-tooltip>
</div>
