$bgColor: #fff;
$mainColor: #435272;
$accentColor: #c1572a;
$btnTextColor: #fff;
$dangerColor: #dc3545;

$fontSmall: 0.813rem;

$contentWidth: 600px;
$contentPadding: 3rem;
$headerHeight: 100px;
$localeCurrentPaddingBottom: 0.5rem;

$inputBorderColor: #dbe2eb;

$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

$transitionTime: 0.25s;