@import 'variables';

:host {
  height: 100%;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  >* {
    width: 48%;
  }
}

.manually-button {
  width: 50%;
  border-radius: 0.3125rem;
  border: 1px solid $button-color;
  background: $white;
  color: $button-color;
  flex-shrink: 0;
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.data-grid-wrapper {
  height: inherit;
}

.data-grid {
  max-height: 60vh;
}