#avatar-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 80%;
  font-weight: 600;
}

text {
  text-anchor: middle;
  dominant-baseline: middle;
}
